<h1>Medicate</h1>

<div class="center jumbotron">

    <h1>Welcome to Medicate!</h1>

    <h2>
        Medicate’s suite of tools allows you to be assured that your loved ones are receiving the 
        care they need in real time, with text allerts and tracking for medication and other care
    </h2>

</div>
